[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
seaborn = "*"
openpyxl = "*"
scikit-learn = "*"
streamlit = "*"
beautifulsoup4 = "*"
requests = "*"
emoji = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.7.3"
